/* 
blue: #7cd5e0,
grey:#42424c,
black:#313132,
red:#e24d43, 
*/
.pageWrapper, .albumCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e24d43;
    background-color: #313132;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    min-height: 150px;
    margin-top: 5px;
}

.albumlist{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.controls{
    display: flex;
    flex-direction:row;
    font-family: Arial, Helvetica, sans-serif;
    color: #42424c;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

button{
 margin: 5px;
 height: 40px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    margin: 5px;
    height: 25px;
    padding: 5px;
   }

.pageBtn:enabled{
    color: #313132;
    background-color: #7cd5e0;
    border-radius: 3px;
}

.artistHdr{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e24d43;
}

.albumLink{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e24d43;
    text-decoration: underline;
    margin: 8px; 
}

.albumCard{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#42424c;
    padding: 10px;
    margin: 10px;
    width: 160px;
    text-align: center;
}

.albumYear{
    color: #7cd5e0;
    text-decoration: underline;
    text-decoration-color:#42424c;
    margin: 2px 2px 5px 2px; 
}