.trackListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e24d43;
  background-color: #313132;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 100vw;
}

.albumImage {
  border: solid 1px #e24d43;
  border-radius: 0px;
  padding: 4px;
  margin: 20px;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e24d43;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

p {
  color: #313132;
}

h4 {
  color: #e24d43;
  margin: 10px;
}

ul {
  list-style-type: none;
}
